/* General CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 80px;
  font-family: "Inter", sans-serif;
  font-size: 10px;
}

/* Padding */

.pa1 {
  padding: 10px;
}

/* Typography */
/* Font colors */
.white-text {
  color: #FFF;
}

.grey-text {
  color: #5c6a88;
}

.darkgrey-text {
  color: #626262;
}

.lightblue-text {
  color: #bbcdff;
}

.blue-text {
  color: #006aff;
}

.darkblue-text {
  color: #031c4e;
}

/* Font sizes */
.small-text {
  font-size: 1.2rem;
}

.normal-text {
  font-size: 1.5rem;
}

.medium-text {
  font-size: 2rem;
}

h3 {
 font-weight: 600;
 font-size: 3rem;
}

h4 {
  font-weight: 600;
}

/* Links that act like buttons */
/* Full width link button */
.fullW-button-link {
  display: block;
  padding: 10px;
  margin: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
  position: relative;
}

.fullW-button-link:hover {
  text-decoration: none;
}

.fullW-button-link #googleIcon {
  height: 20px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.signUp-button-link {
  background-color: #FFF;
  box-shadow: 0 1px 2px #e3e3e3;
  color: #626262;
}

.newAccount-button-link {
  background-color: #579aff;
  color: #FFF;
}

/* Slideshow arrow */
.arrow {
  font-size: 3rem;
  font-weight: 900;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.arrow-back {
  left: -50px;
  color: #6f7b97;
}

.arrow-forward {
  right: -50px;
}

/* Slideshow points */
.slide-points {
  margin: 50px auto;
  width: 50px;
}

.slide-points .point {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid #006aff;
  border-radius: 50%;
}

.slide-points .point.checked {
  background-color: #006aff;
}

main section {
  padding: 30px 0;
}

section h3 {
  text-align: center;
}

/* Mobile First */
/* Nav */
.navbar {
  border-radius: 0;
  margin-bottom: 20px;
  background-color: #FFF;
}

.navbar-brand {
  float: left;
  height: 80px;
  padding: 0 15px;
}

.navbar .navbar-brand > img {
  width: 200px;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-default .navbar-toggle {
  border: 0;
  margin: 0;
  height: 40px;
  width: 40px;
  margin-top: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #3a8aff;
}

.navbar-default .navbar-nav > li > a {
  color: inherit;
  font-size: 1.7rem;
  font-weight: 500;
}

.navbar-nav li:hover {
  background-color: #f3f5f9;
}

.navbar-nav li.no-hover:hover {
  background-color: #FFF;
}

.navbar-nav > li > a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 80px;
}

.nav > li > a.btn {
  display: inline;
  padding: 10px 15px;
  color: #006aff;
  border: 1px solid #006aff;
}

.nav > li > a.btn:hover {
  background-color: #006aff;
  color: #FFF;
}

/* main */

/* Section Jumbotron */
.section-jumbotron {
  padding-top: 60px;
  background-image: url("../img/jumbo.svg");
}

.section-jumbotron .text-container {
  min-height: 350px;
}

.section-jumbotron h1 {
  font-weight: 900;
  font-size: 6rem;
}

.section-jumbotron p {
  font-weight: 400;
}

.section-jumbotron .login-panel {
  padding: 30px 0;
  min-height: 350px;
  width: 100%;
  background-color: #FFF;
  border-radius: 5px;
}

.section-jumbotron .login-panel input {
  width: calc(100% - 20px);
  padding: 10px 20px;
  margin: 5px 10px;
  border: 1px solid #EEE;
  border-radius: 5px;
  color: #757575;
  font-size: 1.5rem;
  font-weight: 600;
}

.section-jumbotron .login-panel input:focus {
  outline: 0;
}

/* Section customers */
.section-customers {
  background-color: #f3f5f9;
}
.section-customers [class*="col-"] {
  text-align: center;
}

.section-customers .text-container {
  text-align: center;
  font-weight: 600;
}

[class*="col-"] > img {
  margin: 0;
  height: 150px;
  max-width: 100%;
}

/* Section About US */
.section-aboutus .categories {
  list-style-type: none;
  border-left: 2px solid #CCC;
  padding-left: 20px;
}

.categories li {
  padding: 10px 0;
}

.categories a {
  color: inherit;
}

.section-aboutus .box-image {
  width: 50px;
  height: 50px;
}

.section-aboutus .box-image > img {
  width: 100%;
}

.section-aboutus .content {
  margin-top: 20px;
}

/* Section Target */
.section-target {
  background-color: #f3f5f9;
}

.section-target .box-image {
  width: 60%;
  margin: 100px auto;
  position: relative;
}

.section-target .box-image > img {
  max-width: 100%;
}

.section-target .text-container {
  text-align: center;
  font-weight: 600;
  margin-top: 20px;
}

/* section features */
.section-features h3 {
  margin-bottom: 50px;
}

.section-features .content {
  margin-bottom: 30px;
}

.section-features a {
  font-weight: 600;
}

.section-servers {
  background-image: linear-gradient(to bottom, #0048c5, #00209b);
}

.section-servers table {
  font-size: 1.4rem;
  background-color: transparent;
  color: #FFF;
}

.section-servers .table > tbody > tr:first-child > td {
  border-top: 0;
}

.section-servers .table td:nth-child(2) {
  width: 60%;
  color: #b5c4e7;
}

.section-servers .table td:nth-child(3) a {
  white-space: nowrap;
  color: #00d5d1;
}

/* Section reviews */
.section-reviews {
  background-color: #f3f5f9;
}

.section-reviews .box-image {
  padding: 80px 0;
  margin: 0 auto;
  width: 50%;
  background-color: #FFF;
  position: relative;
}

/* Section get started */
.section-getstarted {
  background-image: linear-gradient(to bottom, #0042bb, #00209b);
  text-align: center;
}

.section-getstarted .btn-default {
  color: #006aff;
  border: 1px solid #006aff;
  padding: 10px 20px;
  font-weight: 600;
}

.section-getstarted .btn-default:hover {
  background-color: #006aff;
  color: #FFF;
}

/* Footer */
footer {
  background-color: #031c4e;
}

footer [class*="col-"] {
  padding: 30px 10px;
}

#logo-footer {
  width: 40px;
  height: 40px;
}

/* social links */
footer .social-links li {
  float: left;
  list-style-type: none;
  padding-right: 10px;
}

footer .social-links li a {
  color: #7a859d;
  font-size: inherit;
}

footer .social-links li a:hover {
  color: #FFF;
}

/* Footer nav links */
footer .nav-links,
footer .nav-links ul {
  list-style-type: none;
}

footer .nav-links > li:first-child {
  color: #FFF;
  font-weight: 600;
}

footer .nav-links a {
  color: #a6adbd;
  font-size: 1.5rem;
  font-weight: 400;
}

footer .nav-links a:hover {
  color: #FFF;
}




@media all and (min-width: 768px)  {

    /* Display hamburger over 767px */
  .navbar-header {
      float: none;
  }

  .navbar-left, .navbar-right {
      float: none !important;
  }

  .navbar-toggle {
      display: block;
  }

  .navbar-collapse.collapse {
      display: none!important;
  }

  .navbar-nav {
      float: none!important;
  }

  .navbar-nav > li {
      float: none;
  }

  .collapse.in{
      display:block !important;
  }

  /* Main */

  /* Jumbotron */
  .section-jumbotron .login-panel h3 {
    font-size: 2.5rem;
  }

  /* section About Us */
  .section-aboutus .content {
    min-height: 170px;
  }

  /* section target */
  .arrow {
    display: block;
  }
}

@media all and (min-width: 1200px) {

  /* Header */
  /* Reset display for nav links*/
  .navbar-header {
    float: left;
  }

  .navbar-toggle {
    display: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
  }

  .navbar-nav {
    float: left !important;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav.navbar-right {
    float: right !important;
  }

  .collapse.in{
      display: none !important;
  }

  /* Main */
  /* Section jumnbotron*/
  .section-jumbotron .text-container {
    width: 95%;
  }

  .section-aboutus .content {
    min-height: 170px;
  }

  /* section target */
  .section-target .box-image .arrow {
    display: block;
  }

  .slide-points {
    margin: 10px auto;
  }

}
