/* General CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*debug*/
[class*="col-"] {
  border: 1px solid #000;
}

.section-jumbotron [class*="col-"] {
  background-color: yellow;
  min-height: 500px;
}

.section-customers [class*="col-"] {
  background-color: green;
  min-height: 100px;
}

.section-aboutUs [class*="col-"] {
  background-color: blue;
  min-height: 200px;
}

.section-target [class*="col-"] {
  background-color: pink;
  min-height: 200px;
}

.section-features [class*="col-"] {
  background-color: purple;
  min-height: 200px;
}

.section-servers [class*="col-"] {
  background-color: lightblue;
  min-height: 200px;
}

.section-reviews [class*="col-"] {
  background-color: lightgray;
  min-height: 200px;
}

.section-getStarted [class*="col-"] {
  background-color: red;
  min-height: 200px;
}

footer [class*="col-"] {
  background-color: #031c4e;
  min-height: 200px;
}

/* Mobile First */

/* Header */

/* Nav */
.nav {
  background-color: #FFF;
  height: 80px;
  line-height: 80px;
}

.nav .navbar-toggle {
  height: 40px;
  margin-top: 20px;
  border: 0;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #3a8aff;
}

.nav .navbar-brand > img {
  width: 200px;
  height: auto;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}



/* main */

/*debug*/
.container {
  min-height: 200px;
}

.section-jumbotron {
  background-image: url("../img/jumbo.svg");
  /*debug */
  min-height: 500px;
}

@media all and (min-width: 992px) {
  .navbar-toggle {
    display: display
  }
}
