/* General CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 80px;
  font-family: "Inter", sans-serif;
  font-size: 10px;
}

/* Padding */

.pa1 {
  padding: 10px;
}

/* Typography */
.white-text {
  color: #FFF;
}

.grey-text {
  color: #5c6a88;
}

.darkgrey-text {
  color: #626262;
}

.lightblue-text {
  color: #bbcdff;
}

.blue-text {
  color: #006aff;
}

.darkblue-text {
  color: #031c4e;
}

.small-text {
  font-size: 1.2rem;
}

.normal-text {
  font-size: 1.5rem;
}

.medium-text {
  font-size: 2rem;
}

h3 {
 font-weight: 600;
 font-size: 3rem;
}

h4 {
  font-weight: 600;
}

/* Links that act like buttons */
.fullW-button-link {
  display: block;
  padding: 10px;
  margin: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.3rem;
  text-align: center;
  position: relative;
}

.fullW-button-link:hover {
  text-decoration: none;
}

.fullW-button-link #googleIcon {
  height: 20px;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.signUp-button-link {
  background-color: #FFF;
  box-shadow: 0 1px 2px #e3e3e3;
  color: #626262;
}

.newAccount-button-link {
  background-color: #579aff;
  color: #FFF;
}

/*debug*/
[class*="col-"] {
  border: 1px solid #000;
}

main section {
  padding: 30px 0;
}

section h3 {
  text-align: center;
}

.section-jumbotron [class*="col-"] {
  border: 0;
}

.section-customers [class*="col-"] {
  border: 0;
}

.section-aboutUs [class*="col-"] {
  border: 0;
  min-height: 200px;
}

.section-target [class*="col-"] {
  background-color: pink;
  min-height: 200px;
}

.section-features [class*="col-"] {
  background-color: purple;
  min-height: 200px;
}

.section-servers [class*="col-"] {
  background-color: lightblue;
  min-height: 200px;
}

.section-reviews [class*="col-"] {
  background-color: lightgray;
  min-height: 200px;
}

.section-getStarted [class*="col-"] {
  background-color: red;
  min-height: 200px;
}

footer [class*="col-"] {
  background-color: #031c4e;
  min-height: 200px;
}

/* Mobile First */
/* Nav */
.navbar {
  border-radius: 0;
  margin-bottom: 20px;
  background-color: #FFF;
}

.navbar-brand {
  float: left;
  height: 80px;
  padding: 0 15px;
}

.navbar .navbar-brand > img {
  width: 200px;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-default .navbar-toggle {
  border: 0;
  margin: 0;
  height: 40px;
  width: 40px;
  margin-top: 20px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #3a8aff;
}

.navbar-default .navbar-nav > li > a {
  color: inherit;
  font-size: 1.7rem;
  font-weight: 500;
}

.navbar-nav > li > a {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 80px;
}

.nav > li > a.btn {
  display: inline;
  padding: 10px 15px;
  color: #006aff;
  border: 1px solid #006aff;
}

/* main */

/*debug*/
.container {
  min-height: 200px;
}

/* Section Jumbotron */
.section-jumbotron {
  padding-top: 60px;
  background-image: url("../img/jumbo.svg");
}

.section-jumbotron .text-container {
  min-height: 350px;
}

.section-jumbotron h1 {
  font-weight: 900;
  font-size: 6rem;
}

.section-jumbotron p {
  font-weight: 400;
}

.section-jumbotron .login-panel {
  padding: 30px 0;
  min-height: 350px;
  width: 100%;
  background-color: #FFF;
  border-radius: 5px;
}

.section-jumbotron .login-panel input {
  width: calc(100% - 20px);
  padding: 10px 20px;
  margin: 5px 10px;
  border: 1px solid #EEE;
  border-radius: 5px;
  color: #757575;
  font-size: 1.5rem;
  font-weight: 600;
}

.section-jumbotron .login-panel input:focus {
  outline: 0;
}

/* Section customers */
.section-customers {
  background-color: #f3f5f9;
}
.section-customers [class*="col-"] {
  text-align: center;
}

.section-customers .text-container {
  text-align: center;
  font-weight: 600;
}

[class*="col-"] > img {
  margin: 0;
  height: 150px;
  max-width: 100%;
}

/* Section About US */
.section-aboutUs .categories {
  list-style-type: none;
  border-left: 2px solid #CCC;
  padding-left: 20px;
}

.categories li {
  padding: 10px 0;
}

.categories a {
  color: inherit;
}

.section-aboutUs .box-image {
  width: 50px;
  height: 50px;
}

.section-aboutUs .box-image > img {
  width: 100%;
}

.section-aboutUs .content {
  margin-top: 20px;
}

@media all and (min-width: 768px) {
  /* Display hamburger over 767px */
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
  }

  .navbar-nav > li {
    float: none;
  }
}

@media all and (min-width: 992px) {

  /* Display hamburger over 767px */
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }

  .navbar-collapse.collapse {
    display: none !important;
  }

  .navbar-nav {
    float: none !important;
  }

  .navbar-nav > li {
    float: none;
  }

  /* Main */

  /* Jumbotron */
  .section-jumbotron .login-panel h3 {
    font-size: 2.5rem;
  }

  /* section About Us */
  .section-aboutUs .content {
    min-height: 170px;
    }
  }

}

@media all and (min-width: 1200px) {

  /* Header */
  /* Reset display for nav links*/
  .navbar-header {
    float: left;

  }
  .navbar-toggle {
    display: none;
  }

  .navbar-collapse.collapse {
    display: block !important;
  }

  .navbar-nav {
    float: left !important;
  }

  .navbar-nav > li {
    float: left;
  }

  .navbar-nav.navbar-right {
    float: right !important;
  }

  /* Main */
  /* Section jumnbotron*/
  .section-jumbotron .text-container {
    width: 95%;
  }

  .section-aboutUs .content {
    min-height: 170px;
}

}
